@{
 ViewBag.Title = "Index - SGF.net";
}
@*@section featured {
 <div class="hero-unit">
    <h1>Sistema de Gestión Financiero</h1>
    <p>Sindicato de Trabajadores - Municipalidad de San Carlos</p>
 </div>
}*@
@*Some content goes here........
@Html.ActionLink("Home >>","../", null,new { @class="btn btn-primary btn-large" })*@
