@{
 ViewBag.Title = "Index - SGF.net";
}

<h2>Información de la aplicación</h2>
<p>Bienvenido al sistema de Gestión de Crédito y Cobro del Sindicato de Trabajadores, es una aplicación ONLINE.</p>
<h3>Modulos Habilitados</h3>
<hr />
<h4>1. Gestión de Departamentos</h4>
<p></p>
<h4>2. Gestión de Asociados</h4>
<p></p>
<h4>3. Gestión de Lineas de Credito</h4>
<p></p>
<h4>4. Gestión de Creditos</h4>
<p></p>
<h4>5. Gestión de Pagos<strong>- En construcción </strong></h4> 
